<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HalloDoc_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HalloDoc_Project.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form_pages.css" />
    <link rel="stylesheet" href="~/css/submit_request.css" />
    
    
    <script src="~/js/script.js"></script>
    <script src="~/js/tel.js"></script>
</head>
<body>
    <div class="row d-flex">
    <div class="col d-none d-lg-block ">
        <img src="/SRS Screen Shorts/11116016_415.jpg" alt="HalloDoc Logo" class="img-fluid min-vh-100 ">
    </div>
        <div class=" col ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
